@import '~@/themes/scss/mixin.scss';
@import '~@/themes/scss/di-variables.scss';
@import '~@/themes/scss/data-builder/custom/_misc.scss';

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;

  &.wrapper-full-page {
    min-height: 100vh;
    height: auto;
  }
}

.sidebar-wrapper ul li div.collapse ul li div.collapse ul li a,
.sidebar-wrapper ul li div.collapse ul li div.collapsing ul li a,
.sidebar-wrapper ul li div.collapsing ul li div.collapse ul li a {
  margin-left: 25px;
}

.sidebar,
.off-canvas-sidebar {
  background-color: var(--secondary);
  height: 100vh;
  //width: 208px;

  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  display: block;

  .sidebar-wrapper {
    width: $full-width;
    min-height: 100%;
    max-height: calc(100vh - 705px);
    z-index: 4;
    position: relative;
    overflow: auto;

    .dropdown .dropdown-backdrop {
      display: none !important;
    }

    .navbar-form {
      border: none;
    }

    .sidebar-title {
      text-align: left;

      img {
        width: 16px;
        float: right;
        color: #a3a3a3;
      }

      label {
        @include semi-bold-text();
      }
    }

    .sidebar-content {
      margin: 0 16px 20px;
      padding: 16px;
      background-color: var(--primary);
      border-radius: 4px;
      height: calc(100vh - 96px);
      overflow: hidden;
      width: 220px;

      @include media-breakpoint-down(lg) {
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 5px;
        padding-left: 5px;
        width: 170px;
      }

      .sidebar-title {
        margin-bottom: 10px;
      }

      .menu-item {
        width: 220px;
        background: #fff;
        margin: 20px auto;
        @include media-breakpoint-down(lg) {
          width: 180px;
        }
      }

      .header {
        font-size: 18px;
        padding: 10px;
        background: #eee;
      }

      .children-wrapper {
        overflow: hidden;
      }

      .children-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;

        a {
          display: flex;
          align-items: center;
          height: 48px;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 32px;
          text-decoration: none;
        }
      }

      label {
        font-weight: bold;
        color: var(--text-color);
        font-size: 14px;
      }

      select {
        padding: 12px 17px;
        width: 100%;
        border: none;
        border-radius: 4px;
        background-color: var(--secondary);
        font-size: 14px;
        letter-spacing: 0.2px;
        color: var(--text-color);
      }
    }

    > .nav,
    .user .info {
      [data-toggle='collapse'] ~ div > ul > li > a {
        span {
          display: inline-block;
          // @extend .animation-transition-general;
        }

        .sidebar-normal {
          margin: 0;
          position: relative;
          transform: translateX(0px);
          opacity: 1;
          white-space: nowrap;
          display: block;
          line-height: 23px;
          z-index: 1;
          color: $opacity-8;
        }

        .sidebar-mini-icon {
          text-transform: uppercase;
          width: 34px;
          margin-right: 10px;
          margin-left: 0;
          font-size: 12px;
          text-align: center;
          position: relative;
          float: left;
          z-index: 1;
          display: inherit;
          line-height: 24px;
          color: $opacity-8;
        }

        i {
          font-size: 17px;
          line-height: 20px;
          width: 26px;
        }
      }
    }

    [data-toggle='collapse'] ~ div > ul > li:hover > a {
      .sidebar-mini-icon,
      .sidebar-normal {
        color: $white;
      }
    }

    .nav [data-toggle='collapse'] ~ div > ul > li > a .sidebar-mini-icon {
      opacity: 0;
    }
  }

  .navbar-minimize {
    position: absolute;
    right: 20px;
    top: 2px;
    opacity: 1;
    // @extend .animation-transition-general;
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .nav-scroll {
    margin-top: 24px;
    //padding-bottom: 86px;

    @include media-breakpoint-down(lg) {
      margin-top: 16px;
    }
  }

  .nav {
    display: block;
    height: calc(100vh - 220px);

    .caret {
      top: 14px;
      position: absolute;
      right: 10px;
    }

    li {
      > a + div .nav {
        margin-top: 5px;

        li > a {
          margin-top: 0px;
          padding: 8px 8px;
        }
      }

      > a {
        margin: 10px 15px 0;
        border-radius: $btn-round-radius;
        color: $white;
        display: block;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        //font-size: $font-size-xs;
        padding: 10px 8px;
        //line-height: $line-height-lg;
      }

      &:first-child > a {
        margin: 0 15px;
      }

      &:hover:not(.active) > a,
      &:focus:not(.active) > a {
        p,
        i {
          color: $white;
        }
      }

      &:hover:not(.active) > a i,
      &:focus:not(.active) > a i {
        color: $white;
      }

      &.active > a:not([data-toggle='collapse']) {
        background: transparent;

        i,
        p {
          color: var(--text-color);
        }

        &:before {
          content: ' ';
          position: absolute;
          height: 6px;
          width: 6px;
          top: 22px;
          left: -4px;
          background: $white;
          border-radius: 50%;
        }
      }

      &.active > a[data-toggle='collapse'] {
        background: transparent;
        box-shadow: none;
        color: $white;

        i {
          color: $white;
        }

        & + div .nav .active a {
          box-shadow: none;

          .sidebar-mini-icon,
          .sidebar-normal {
            color: $white;
            @include regular-text();
            font-weight: $font-weight-normal;
          }

          &:before {
            content: ' ';
            position: absolute;
            height: 6px;
            width: 6px;
            top: 17px;
            left: -4px;
            background: $white;
            border-radius: 50%;
          }
        }

        &:before {
          content: ' ';
          position: absolute;
          height: 6px;
          width: 6px;
          top: 22px;
          left: -4px;
          background: rgba($white, 0.6);
          border-radius: 50%;
        }
      }
    }

    p {
      margin: 0;
      font-weight: $font-weight-bold;
      color: rgba($white, 0.8);
      line-height: 30px;
      position: relative;
      display: block;
      height: auto;
      white-space: nowrap;
      @extend .animation-transition-general;
    }

    i {
      // font-size: 20px;
      // float: left;
      margin-right: 12px;
      line-height: 30px;
      // width: 34px;
      text-align: center;
      color: $opacity-8;
      position: relative;
    }
  }

  .logo {
    position: relative;
    padding-top: 24px;
    padding-left: 16px;
    z-index: 4;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--text-color);
    height: 76px;

    a.logo-mini,
    a.logo-normal {
      @extend .animation-transition-general;
    }

    a.logo-mini {
      opacity: 1;
      float: left;
      width: 34px;
      text-align: center;
      margin-left: 12px;
      margin-right: 10px;
    }

    a.logo-mini .logo-img {
      width: 32px;
      display: inline-block;
      height: 32px;
      margin-left: 0;
      margin-right: 15px;
      background: #fff;
      border-radius: 32px;
      text-align: center;

      img {
        max-width: 21px;
      }

      &.logo-img-rtl {
        margin-right: 0;
      }
    }

    a.logo-normal {
      display: block;
      opacity: 1;
      @include transform-translate-x(0px);
    }

    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: $white;
      line-height: 20px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .simple-text {
      text-align: left;
      display: block;
      white-space: nowrap;
      @include regular-text();
      font-size: 24px;
      color: $white;
      text-decoration: none;
      font-weight: $font-weight-normal;
      line-height: 30px;
      overflow: hidden;
    }
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &[data='blue'] {
    @include linear-gradient($info-states, $info);
  }

  &[data='green'] {
    @include linear-gradient($success-states, $success);
  }

  &[data='vue'] {
    @include linear-gradient($vue-states, $vue);
  }

  .user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background: $opacity-5;
    }

    .photo {
      width: 34px;
      height: 34px;
      overflow: hidden;
      float: left;
      z-index: 5;
      margin-right: 10px;
      border-radius: 50%;
      margin-left: 23px;
      box-shadow: $box-shadow-raised;
      @extend .animation-transition-general;

      img {
        width: $full-width;
      }
    }

    a {
      color: $white;
      text-decoration: none;
      padding: $padding-base-vertical 15px;
      white-space: nowrap;
      @extend .animation-transition-general;
    }

    .info {
      > a {
        display: block;
        line-height: 18px;

        > span {
          @extend .animation-transition-general;
          display: block;
          position: relative;
          opacity: 1;
        }
      }

      .caret {
        position: absolute;
        top: 8px;
        right: 18px;
      }
    }
  }

  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

  .relative > span > button {
    padding-left: 16px;

    div {
      margin: 0;
    }

    span > img {
      margin-right: 0;
    }
  }

  .select-popover {
    @include regular-text();
    font-size: 14px;
    margin: 8px auto !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.16);

    li {
      padding: 16px !important;

      div {
        padding: 0;

        span {
          padding: 0;
        }
      }

      span {
        margin-right: 4px;
      }
    }
  }
}

.visible-on-sidebar-regular {
  display: inline-block !important;
}

.visible-on-sidebar-mini {
  display: none !important;
}

.off-canvas-sidebar {
  .nav {
    > li > a,
    > li > a:hover {
      color: $white;
    }

    > li > a:focus {
      background: rgba(#c8c8c8, 0.2);
    }
  }
}

.main-panel {
  display: flex;
  position: relative !important;
  width: 100% !important;
  min-width: 1024px !important;
  min-height: 100vh !important;
  background: var(--primary);
  @include transitions(0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1));

  &[data='blue'] {
    border-top: 2px solid $info;
  }

  &[data='green'] {
    border-top: 2px solid $success;
  }

  &[data='purple'] {
    border-top: 2px solid $purple;
  }

  &[data='primary'] {
    border-top: 2px solid $primary;
  }

  > .content {
    // padding-left: 15px;
    width: 100%;
    min-height: calc(100vh - 70px);
  }

  > .navbar {
    margin-bottom: 0;
  }

  .header {
    margin-bottom: 50px;
  }
}

.perfect-scrollbar-on {
  .sidebar,
  .main-panel {
    height: 100%;
    max-height: 100%;
    background-color: var(--secondary);
  }
}

.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  background: #141e30;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
  position: relative;
  overflow: hidden;

  .header {
    .title {
      color: $white;
    }

    .category {
      max-width: 600px;
      color: $opacity-5;
      margin: 0 auto;
      font-size: 13px;

      a {
        color: $white;
      }
    }
  }
}

.panel-header-sm {
  height: 135px;
}

.panel-header-lg {
  height: 380px;
}

button > div > span {
  @include regular-text();
  font-size: 14px;
  line-height: 1.5;
}
