@import '~@/themes/scss/mixin.scss';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@/themes/scss/button';
.disabled {
  cursor: not-allowed !important;
  opacity: 0.3;
  pointer-events: none;
}
.dynamic-filter-panel {
  .view-panel {
    padding: 12px 16px;
    border-radius: 4px;

    > .display-group {
      @include regular-text();
      font-size: 14px;
      letter-spacing: 0.2px;
      margin-right: 16px;
      min-height: 20px;

      @include media-breakpoint-down(md) {
        font-size: 13px;
      }

      > .display-name {
        color: var(--text-color);
      }

      > .display-filter-type {
        color: var(--text-color);
        opacity: 0.5;
      }

      > .listing-filter-area {
        .btn-filter {
          cursor: pointer;
          padding: 5px;
          margin: -5px;
          color: var(--accent);
        }
      }
    }

    > .icon-group {
      i {
        width: 16px;
        height: 16px;
        box-sizing: content-box;
        color: var(--text-color);
        opacity: 0.4;
      }
    }
  }
}
