.input-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .filter-chart {
    margin-right: 8px;
  }

  .input-setting {
    flex: 1;
  }
}

.input-filter {
  .btn-picker {
    background-color: transparent;
    border: solid #d6d6d6 1px !important;
    .title {
      padding: 0 4px;
    }
  }
  .input-setting {
    .form-control {
      background-color: transparent;
      border: solid #d6d6d6 1px !important;
      padding: -3px 4px !important;
      height: 32px;
    }

    .form-input {
      border: solid transparent 0 !important;
    }
  }
}
