<settings>
    <servers>
        <server>
            <id>common-clients-gitlab-maven</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Deploy-Token</name>
                        <!--                        <jobInfo>TZxhbxzfJmcsPEpQ6sYx</jobInfo>-->
                        <value>xkR458St1WCEntpzVnEa</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>
