@import '~@/themes/scss/mixin.scss';

.export-form {
  .title {
    @include regular-text-14();
    letter-spacing: 0.23px;
    color: var(--text-color);
  }

  .input {
    width: 100%;

    &[data-v-027d5462] {
      margin-top: 0 !important;
    }

    input {
      height: 34px;
      padding-left: 16px;
      @include regular-text-14();
      color: var(--text-color);
      letter-spacing: 0.17px;
      cursor: text;

      ::-webkit-input-placeholder,
      :-ms-input-placeholder,
      ::placeholder {
        @include regular-text-14();
        letter-spacing: 0.18px;
        color: var(--text-disabled-color, #bebebe) !important;
      }
    }

    .form-check-input {
      width: 16px;
      cursor: default;
    }
  }

  .setting-container {
    flex-direction: row;
  }

  .custom-control-label::after {
    cursor: pointer;
    top: 0.3rem;
    left: -2.4rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.35rem;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-size: cover;
    background-color: var(--primary);
    cursor: pointer;
  }
}
