$ga-title-width: 120px;
$ga-input-width: 350px;

@import '~@/themes/scss/mixin.scss';

.analytics-job-form-container {
  .analytics-job-row-item {
    display: flex;
    width: fit-content;
    margin-bottom: 8px;

    .title {
      width: $ga-title-width;
      height: 34px;
      display: flex;
      align-items: center;
    }

    .input {
      width: $ga-input-width;
      min-height: 34px;
      position: relative;
      @media (max-width: 500px) {
        width: 310px;
      }
      input {
        padding: 0 16px;
      }
      button {
        height: 34px;
        padding: 0 16px;
      }

      .fake-item {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        span {
          margin-left: auto;
          margin-right: 18px;
          background: var(--input-background-color);
        }
        .text-danger {
          margin-left: 16px;
        }
      }
    }
  }

  .section-title {
    @include bold-text();
    font-size: 16px;
    margin-bottom: 16px;
  }

  .job-section {
    background: var(--secondary);
    padding: 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    &:not(:last-child) {
      margin-bottom: 8px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .job-scheduler-form {
    label,
    .text {
      color: var(--text-color);
      opacity: 1 !important;
    }

    .job-scheduler-form-group.pt-2 {
      padding-top: 0 !important;
    }

    .job-scheduler-form-group {
      margin-bottom: 12px !important;
      display: flex;
      align-items: center;
      > label {
        width: $ga-title-width;
        margin-bottom: 0 !important;
      }

      .select-container {
        //margin: 0;
      }

      #job-scheduler-type {
        width: $ga-input-width;
        > div {
          height: 34px;
        }
      }

      .frequency-options {
        > label:first-child {
          width: $ga-title-width !important;
        }
      }
    }
    .run-only-once {
      width: $ga-input-width;
      margin-left: auto;
      .job-scheduler-form-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        label {
          width: 100%;
        }
        .input-container {
          width: 100%;
          .input-calendar {
            margin-left: auto;
            padding-left: 16px;
            width: calc(100% - 16px);
            margin-left: 4px;
          }
        }
      }
    }
  }
}
