.form-control::placeholder {
  color: var(--secondary-text-color);
  font-size: 12px;
  letter-spacing: 0.17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}
