:focus {
  outline: none !important;
}

// begin scrollbar
$scrollbar-size: 12px;
$scrollbar-padding: 2px;
/* width */
::-webkit-scrollbar {
  display: none;
  width: (($scrollbar-padding * 2) + $scrollbar-size);
  height: (($scrollbar-padding * 2) + $scrollbar-size);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--scrollbar-background);
  background-clip: padding-box;
  border: 5px solid #00000000;
  border-radius: 8px;

  &:hover {
    background: var(--scrollbar-hover);
    border: 5px solid #00000000;
    background-clip: padding-box;
  }
}

/* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  border: 3px
//}

::-webkit-scrollbar-corner {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

//*::-webkit-scrollbar {
//  display: none; /* Chrome, Safari and Opera */
//}

// end scrollbar

input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='date']::-webkit-input-placeholder {
  visibility: hidden !important;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.__rail-is-vertical,
.__rail-is-horizontal {
  z-index: 10 !important;

  .__bar-is-vertical,
  .__bar-is-horizontal {
    &:hover,
    &:active,
    &:focus {
      background: var(--scrollbar-hover) !important;
    }
  }
}
