.dropdown-menu {
  color: var(--text-color) !important;
  background-color: var(--menu-background-color) !important;
  .dropdown-item {
    color: var(--text-color) !important;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: var(--text-color) !important;
    background-color: var(--hover-color) !important;
  }
}

.modal-backdrop {
  background-color: $backdropColor !important;
  opacity: 0.7 !important;
}

.modal-content {
  background-color: var(--modal-background-color) !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08) !important;

  .select-container > .relative > span > button {
    background: var(--input-background-color);
  }
}

.modal-header {
  border-bottom: none !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  padding: 1rem 1rem 0 1rem !important;
}

.modal-footer {
  border-top: 0.5px solid transparent !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.btn {
  font-size: 14px !important;
  font-weight: normal !important;
}

.dropdown-item {
  font-size: 14px !important;
  font-weight: normal !important;
}

.dropdown-toggle::after {
  font-family: 'data-insider-icon' !important;
  margin-left: 0.5em !important;
  content: '\e93a';
  border: none !important;
}

.dropdown.show .dropdown-toggle::after {
  transform: rotate(180deg);
  transition: transform 100ms linear;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--secondary-text-color);
  -webkit-box-shadow: 0 0 0 50px var(--input-background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}
