.drilldown-path {
  font-size: 12px;
  color: var(--text-color);
  opacity: 1;
  display: inherit;
  width: fit-content;
  align-items: center;
  cursor: default;

  .path {
    cursor: pointer !important;
  }

  .path-selected {
    opacity: 0.6;
  }

  .icon-breadcrumb {
    cursor: default;
    width: 12px;
    height: 12px;
    padding: 0 2px;
  }
}
