@import '~@/themes/scss/mixin.scss';

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  //class="item d-flex w-100 justify-content-center align-items-center"

  .title {
    width: 120px;
    @include regular-text-14();
    letter-spacing: 0.23px;
    color: var(text-color);
  }
  .input {
    width: 340px;
    input {
      height: 34px;
      padding-left: 16px;
      @include regular-text();
      font-size: 12px;
      color: var(text-color);
      letter-spacing: 0.17px;
      cursor: text;

      ::-webkit-input-placeholder,
      :-ms-input-placeholder,
      ::placeholder {
        @include regular-text-14();
        letter-spacing: 0.18px;
        color: var(--text-disabled-color, #bebebe) !important;
      }
    }

    .select-container {
      height: 34px;
      margin-top: 0;
      button {
        height: 34px;
        padding: 0 16px;
        font-size: 12px;
      }
      ul {
        li {
          font-size: 12px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }

    textarea {
      padding-top: 4px;
      padding-left: 16px;
      min-height: 190px;
      max-height: 45vh;
      &::placeholder {
        padding-top: 4px;
      }
    }
  }
  .text-connection {
    color: var(--accent);
  }
}
.form-item + .form-item {
  margin-top: 8px;
}
