/*!
 * @author: tvc12 - Thien Vi
 * @created: 9/5/21, 10:46 AM
 */

.user-management-content {
  flex: 1;
  background: var(--secondary-2);
  display: flex;
  overflow: hidden;

  flex-direction: column;
  > .di-table {
    flex: 1;

    tr td[col-index='0'] {
      padding-right: 0;
    }

    td[data-title='Active'] {
      color: var(--active-status-color);
    }

    td[data-title='Suspended'] {
      color: var(--suspend-status-color);
    }
  }
}
