/*!
 * @author: tvc12 - Thien Vi
 * @created: 4/8/21, 2:19 PM
 */

@import '~vue-context/src/sass/vue-context';

.v-context {
  padding: 0;
  text-align: left;
  z-index: 1000;
  min-width: 160px;
  background: var(--menu-background-color);
  border: var(--menu-border);
  box-shadow: var(--menu-shadow);
  border-radius: 4px;

  //box-shadow: none;
  //background-color: transparent;
}
