#app .gutter,
#update-table-by-query .gutter {
  position: relative;

  &.gutter-horizontal {
    background-image: none;
    background-color: #f2f2f7;

    &:before {
      $size: 16px;
      position: absolute;
      font-size: $size + 2;
      font-family: 'data-insider-icon' !important;
      color: #5f6368;
      line-height: normal;
      content: '\e96e';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }

  &.gutter-vertical {
    cursor: row-resize;
    background-image: none;
    background-color: #f2f2f7;

    &:before {
      $size: 16px;
      position: absolute;
      font-family: 'data-insider-icon' !important;
      content: '\e96d';
      color: #5f6368;
      line-height: normal;
      font-size: $size + 2;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
