@import '~@/themes/scss/mixin.scss';

.setting-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .label {
    @include regular-text-14();
    //cursor: pointer !important;
    opacity: 0.6;
    margin: 0 8px 0 0;
    padding: 0;
  }
}
