@import '~@/themes/scss/mixin.scss';

// full-size
.full-size-container {
  max-width: 700px;
  min-width: 700px;
  background-color: var(--secondary);
  height: 365px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.16);

  .calendar-container {
    padding: 16px;
    width: 100%;
    height: 100%;
  }

  .calendar-container-body {
    width: 100%;
    height: 284px;
    display: flex;
  }

  .calendar-container-body-left {
    width: 371px;
    height: 100%;
  }

  .calendar-container-body-right {
    padding-top: 8px;
    padding-right: 8px;
    width: 329px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  .calendar-container-footer {
    width: 100%;
    height: 42px;
    display: flex;
    margin-top: 15px;
  }

  .calendar-container-footer-left {
    width: 371px;
    height: 100%;
  }

  .calendar-container-footer-right {
    padding-right: 8px;
    width: 329px;
    height: 100%;
  }

  .calendar-time-preset-label {
    @include bold-text;
    font-size: 12px;
    text-align: left;
  }

  .calendar-time-preset-ranges {
    background-color: var(--primary);
    width: 280px;
    border-radius: 4px;
    max-height: var(--di-calendar-time-preset-height);
    min-height: var(--di-calendar-time-preset-height);
  }

  ul {
    width: 100%;
    list-style: none;
    max-height: var(--di-calendar-time-preset-height-ul);
    margin-top: 6px;
    overflow-y: auto;

    li {
      cursor: pointer;
      padding-left: 16px;
      padding-right: 5px;
      text-align: left;
      padding-top: 8px;

      label {
        @include regular-text();
        opacity: 0.8;
        font-size: 12px;
        letter-spacing: 0.2px;
        cursor: unset;
      }

      i {
        float: right;
        padding-top: 4px;
        color: var(--accent);
        width: 16px;
        height: 16px;
      }
    }
  }

  .compare-to-label {
    margin-top: 10px;
    width: 90px;
  }

  .calendar-time-preset-compare-to {
    text-align: center;
    height: 34px;
    width: 190px;
  }

  .select-container {
    margin-top: 0px !important;
  }

  .calendar-time-preset-input {
    height: 34px !important;
    width: 126px !important;
  }

  .calendar-dash {
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    color: var(--text-color);
  }

  .calendar-time-preset {
    margin-left: 24px;
  }

  .calendar-button {
    height: 26px !important;
    width: 128px !important;
    margin-top: 8px;
    margin-left: 33px;
    color: var(--text-color) !important;
  }

  //.calendar-button:hover {
  //  height: 26px !important;
  //  color: var(--text-color) !important;
  //}

  .calendar-button-right {
    margin-left: 16px;
  }

  .error-message {
    margin-top: 15px !important;
    margin-left: 10px !important;
  }

  .calendar-margin-top {
    margin-top: 15px;
  }
}

// small size
.cropped-container {
  max-width: 300px;
  background-color: var(--secondary);
  height: 625px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.16);

  .calendar-container {
    padding: 8px;
    width: 100%;
    height: 100%;
  }

  .calendar-container-body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .calendar-container-body-left {
    width: 100%;
    height: 100%;
  }

  .calendar-container-body-right {
    padding: 8px;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .calendar-time-preset-ranges {
    max-height: 120px;
    overflow-y: auto;
  }

  .calendar-container-footer {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: column;
  }

  .calendar-container-footer-left {
    width: 100%;
    height: 100%;
  }

  .calendar-container-footer-right {
    width: 100%;
    height: 100%;
  }

  .calendar-time-preset-label {
    @include bold-text;
    font-size: 12px;
    text-align: left;
  }

  .calendar-time-preset-ranges {
    background-color: var(--primary);
    width: 100%;
    border-radius: 4px;
    max-height: var(--di-calendar-time-preset-height);
    min-height: var(--di-calendar-time-preset-height);
  }

  ul {
    width: 100%;
    list-style: none;
    max-height: var(--di-calendar-time-preset-height);
    margin-top: 6px;
    overflow-y: auto;

    li {
      padding-left: 8px;
      padding-right: 5px;
      text-align: left;
      padding-top: 4px;
      cursor: pointer;

      label {
        @include regular-text();
        opacity: 0.8;
        font-size: 12px;
        letter-spacing: 0.2px;
        cursor: unset;
      }

      i {
        float: right;
        padding-top: 3px;
        color: var(--accent);
        width: 16px;
        height: 16px;
      }
    }
  }

  .compare-to-label {
    margin-top: 14px;
    width: 69px;
  }

  .calendar-time-preset-compare-to {
    text-align: center;
    height: 42px;
    width: 187px;
    margin-left: 10px;
  }

  .calendar-time-preset-input {
    height: 42px !important;
    width: 121px !important;
  }

  .calendar-dash {
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text-color);
  }

  .calendar-button {
    height: 26px !important;
    width: 128px !important;
    color: var(--text-color) !important;
  }

  //.calendar-button:hover {
  //  height: 26px !important;
  //  color: var(--text-color) !important;
  //}

  .calendar-button-right {
    margin-left: 8px;
  }

  .calendar-margin-top {
    margin-top: 8px;
  }

  .fix-height-for-small-size {
    height: 26px;
  }
}

/* custom some browser behavior and custom css of v-calendar */
::v-deep {
  @import '~@/themes/scss/calendar/new-custom-vcalendar.scss';

  ol,
  ul,
  dl {
    padding-inline-start: 0px !important;
    margin-bottom: 0px !important;
  }

  li:last-child {
    margin-bottom: 6px;
  }

  p {
    margin-bottom: 0px !important;
  }

  label {
    margin-bottom: 10px !important;
  }

  .btn {
    padding: 0px !important;
  }

  .btn-secondary:hover,
  .btn-ghost:hover {
    background-color: var(--primary);
  }

  .btn-secondary:active,
  .btn-ghost:active {
    background-color: var(--primary) !important;
  }

  .select-container .select-popover ul li > div > span {
    padding: 8px;
    text-align: left;
    @include regular-text;
    font-size: 12px;
    letter-spacing: 0.17px;
  }

  .select-container > .relative > span > button {
    height: 34px;
    padding-left: 16px !important;
    background-color: var(--primary);
  }

  .select-container > .relative > span > button > div {
    height: 32px;
  }

  .select-container > .relative > span > button > span {
    padding-right: 0px !important;
  }

  .select-container > .relative > span > button > div > span {
    @include regular-text;
    font-size: 12px;
    letter-spacing: 0.17px;
  }
}

/* common css */
.error-message {
  @include regular-text;
  color: var(--danger);
  font-size: 12px;
  text-align: left;
}
