@import '~@/themes/scss/mixin.scss';

.source-config {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;

  .ssh-tunnel {
    margin-top: 24px;
  }

  .source-config-form {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
    width: 100%;
  }
  .mt-17px {
    margin-top: 17px;
  }

  .added-property {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--row {
      display: flex;
      flex-direction: row;
      border-radius: 4px;
      position: relative;

      &--actions {
        display: flex;
        align-items: center;
        position: absolute;
        right: 14.6px;
        top: 0;
        bottom: 0;
        margin: 0 auto;

        .text-button {
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: var(--icon-hover-color, #d6d6d6) !important;
          }

          width: 24px;
          height: 24px;
          border-radius: 50%;
        }

        .text-button + .text-button {
          margin-left: 8px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 2px;
      }

      &:first-child {
        margin-top: 17px;
      }
    }

    &--row.disable-edit {
      background: #fafafb;
      .form-control {
        border: 0px solid #d6d6d6;
        color: #919eab;
        &:focus {
          border: 0px solid #0066ff;
          padding: 12px 10px;
        }
      }

      .form-item:last-child {
        .form-control {
          width: calc(100% - 56px - 14.6px);
        }
      }
    }
  }

  .add-properties {
    width: 100%;
    height: 20px;
    font-weight: 400;
    line-height: 19.6px;

    .btn-icon-text {
      height: 20px;
      padding: 4px;
      .title {
        margin-bottom: 0;
        color: #0066ff;
      }

      i {
        color: #0066ff;
      }
    }
  }

  .add-new-property {
    .title {
      @include regular-text-14();
      font-weight: 400;
      line-height: 19.6px;
      margin-bottom: 4px;
    }

    .title.required::after {
      content: ' *';
      color: #de3618;
    }

    .form-control {
      height: 40px;
      background: transparent;
      border: 1px solid #d6d6d6;
      padding: 12px 10px;
      &:focus {
        border: 2px solid #0066ff;
        padding: 12px 9px;
      }
    }

    .form-control.error {
      border: 2px solid #de3618;
    }

    .error-message {
      margin-top: 4px;
      @include regular-text12-unselect();
      color: #de3618;
      line-height: 16px;
      font-weight: 400;
    }
  }
}
