@import './mixin';

.btn-primary {
  cursor: pointer !important;
  border-radius: 4px;
  border: none;
  @include medium-text(14px, 0.18);

  &,
  &:active,
  &:focus {
    color: var(--accent-text-color, white) !important;
    background-color: var(--accent) !important;
  }

  &:hover {
    color: var(--accent-text-color, white) !important;
    background-color: var(--accent-hover-color, #3463ff) !important;
  }

  &:disabled,
  &[disabled] {
    background: var(--accent-disabled-color, #bebebe) !important;
    color: var(--accent-text-color, white) !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.btn-secondary {
  cursor: pointer !important;
  border-radius: 4px;
  border: solid 1px var(--scrollbar-background) !important;
  @include medium-text(14px, 0.18);

  &,
  &:active,
  &:focus {
    color: var(--secondary-text-color) !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: var(--hover-color) !important;
    color: var(--text-color) !important;
  }

  &:disabled,
  &[disabled] {
    color: var(--text-disabled-color, #bebebe) !important;
    background-color: transparent !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.btn-shadow {
  cursor: pointer !important;
  border-radius: 16.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #fff !important;
  background: #ffffff !important;

  @include medium-text(14px);

  &,
  &:active,
  &:focus {
    color: var(--secondary-text-color) !important;
    background-color: #fff !important;
  }

  &:hover {
    background-color: var(--hover-color) !important;
    color: var(--text-color) !important;
    border: solid 1px var(--btn-border-color, #d6d6d6) !important;
  }

  &:disabled,
  &[disabled] {
    color: var(--text-disabled-color, #bebebe) !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.btn-icon-text {
  cursor: pointer !important;
  border: none !important;
  border-radius: 4px;

  &,
  &:active,
  &:focus {
    color: var(--secondary-text-color) !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: var(--hover-color) !important;
    color: var(--text-color) !important;
  }

  &:disabled,
  &[disabled] {
    color: var(--text-disabled-color, #bebebe) !important;
    background-color: #fff !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.btn-icon-border {
  cursor: pointer !important;
  border-radius: 24px;
  color: var(--secondary-text-color);
  background-color: transparent;
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-content: center;

  //display: flex;

  &.border-18px {
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
  }

  &.border-24px {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--white);
    background-color: var(--icon-hover-color, #d6d6d6) !important;
  }

  &:disabled,
  &[disabled] {
    color: var(--text-disabled-color, #bebebe) !important;
    background-color: transparent !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.btn-ghost {
  cursor: pointer !important;
  border: none !important;
  border-radius: 4px;

  &,
  &:active,
  &:focus {
    color: var(--secondary-text-color) !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: var(--hover-color) !important;
    color: var(--text-color) !important;
  }

  &:disabled,
  &[disabled] {
    color: var(--text-disabled-color, #bebebe) !important;
    background-color: #fff !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.shadow-button {
  height: 33px;
  display: flex !important;
  align-items: center !important;
  border-radius: 16.5px;
  padding: 0 16px !important;
  background: #fff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
  .title {
    padding: 0 !important;
    cursor: pointer !important;
    @include semi-bold-14();
    color: var(--secondary-text-color);
  }

  i {
    cursor: pointer;
    margin-right: 12px;
    padding: 0;
    color: var(--secondary-text-color);
  }

  &:hover {
    border: solid 1px #d6d6d6;
    background: #fff;
  }

  &:active {
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    background: #fff !important;
  }

  &:disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
  }
}

.icon-button {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 16px;
    color: var(--secondary-text-color);
  }

  &:hover {
    background-color: var(--neutral);
    i {
      color: var(--text-color);
    }
  }

  &:active {
    background-color: var(--neutral);
    i {
      color: var(--secondary-text-color);
    }
  }
  &:disabled {
    pointer-events: none;
    i {
      color: #bebebe;
    }
  }
}
