/*!
 * @author: tvc12 - Thien Vi
 * @created: 4/20/21, 4:48 PM
 */

.custom-b-popover {
  padding: 16px;
  box-sizing: content-box;
  background-color: var(--menu-background-color);
  box-shadow: var(--menu-shadow);
  border-radius: 4px;
  width: 256px;
  max-width: unset;
  z-index: 10001;

  .arrow {
    display: none;
  }

  .popover-body {
    padding: 0 !important;
  }

  .filter-item {
    margin-bottom: 16px;
  }
}
