@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~@/themes/scss/_functions-override.scss';

$primaryColor: var(--primary) !default;
$secondaryColor: var(--secondary) !default;
$neutralColor: var(--neutral) !default;
$charcoalGrey: #424453 !default;
$blueGrey: #9799ad !default;

$white: #fff !default;
$purple: var(--purple) !default;
$yellow: var(yellow) !default;

$accentColor: var(--accent) !default;
$lightGold: var(--lightGold) !default;

$error: var(--danger) !default;

$primary-text-color: var(--text-color) !default;
$greyTextColor: $neutralColor !default;

$headerColor: $secondaryColor !default;
$widgetColor: $secondaryColor !default;
$input-background-color: var(--input-background-color) !default;

$barlow-font-family: 'Barlow', sans-serif;
$roboto-font-family: 'Roboto', sans-serif;
$iconSize: 16px;

$backdropColor: var(--backdrop) !default;
$arrowDownColor: #6c757d !default;

//override bootstrap
$primary: $accentColor !default;
$secondary: $primaryColor !default;
$success: var(--success) !default;
$warning: var(--warning) !default;
$danger: $error !default;
$light: $primary-text-color !default;
$dark: $primaryColor !default;

$gray-800: $headerColor !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);

$white: #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #e3e3e3 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default; // Line footer color
$gray-700: #525f7f !default; // Line p color
$gray-800: #32325d !default; // Line heading color
$gray-900: #212529 !default;
$link-disabled: #666 !default;
$transparent-bg: transparent !default;
$light-bg: #f5f6fa !default;

$pink: #ff6b4e !default;

$default: #344675 !default;

$info: #1d8cf8 !default;

$black: #222a42 !default;
$vue: #42b883 !default;

$opacity-gray-3: rgba(#dedede, 0.3) !default;
$opacity-gray-5: rgba(#dedede, 0.5) !default;
$opacity-gray-8: rgba(#dedede, 0.8) !default;

$opacity-5: rgba(var(--text-color), 0.5) !default;
$opacity-6: rgba(var(--text-color), 0.6) !default;
$opacity-8: rgba(var(--text-color), 0.8) !default;

$opacity-1: rgba(var(--text-color), 0.1) !default;
$opacity-2: rgba(var(--text-color), 0.2) !default;

$default-states: #263148 !default;
$primary-states: #27293d !default;
$success-states: #0098f0 !default;
$info-states: #3358f4 !default;
$warning-states: #ff6491 !default;
$danger-states: #ec250d !default;
$black-states: #1d253b !default;
$vue-states: #389466 !default;

$background-black: #1e1e2f !default;
$background-states-black: #1e1e24 !default;

$default-opacity: rgba(#b6b6b6, 0.6) !default;
$primary-opacity: rgba(#f96332, 0.3) !default;
$success-opacity: rgba(#18ce0f, 0.3) !default;
$info-opacity: rgba(#2ca8ff, 0.3) !default;
$warning-opacity: rgba(#ffb236, 0.3) !default;
$danger-opacity: rgba(#ff3636, 0.3) !default;

$light-gray: #e3e3e3 !default;
$medium-gray: #ddd !default;
$dark-gray: #9a9a9a !default;
$card-stats-gray: #808080 !default;
$active-gray: #777 !default;
$nav-gray: #444 !default;
$search-gray: #b7b7b7 !default;
$calendar-gray: #9499a7 !default;
$active-blue: #0bf !default;

$topbar-x: topbar-x !default;
$topbar-back: topbar-back !default;
$bottombar-x: bottombar-x !default;
$bottombar-back: bottombar-back !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints);

$padding-base-vertical: 0.5rem !default;
$padding-base-horizontal: 0.7rem !default;

$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;
$border-width: 0.0625rem !default;
$border-color: $gray-200 !default;

$border-radius: 0.25rem !default;
$border-radius-xl: 0.875rem !default;
$border-radius-lg: 0.4285rem !default;
$border-radius-sm: 0.2857rem !default;
$border-radius-xs: 0.1428rem !default;

$dropdown-shadow: 1px 2px 3px 0px rgba(#000000, 0.125);
$box-shadow-raised: 0px 10px 25px 0px rgba(#000000, 0.3);
$box-shadow: 0 1px 20px 0px rgba(#000000, 0.1);
$sidebar-box-shadow: 0px 2px 22px 0 rgba(#000000, 0.2), 0px 2px 30px 0 rgba(#000000, 0.35);

$transition-base: all 0.15s ease !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;

$fast-transition-time: 150ms !default;

$transition-linear: linear !default;
$transition-bezier: cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease: ease 0s;

$select-coordinates: 50% -40px !default;
$general-transition-time: 300ms !default;

$font-family-base: Barlow, sans-serif !default;
$font-family-alt: Barlow, sans-serif !default;

$font-size-dash: 0.875rem !default;

$font-size-base: $font-size-dash !default;
$font-size-xl: ($font-size-base * 1.428);
$font-size-lg: ($font-size-base * 1.142);
$font-size-sm: ($font-size-base * 0.85714286);
$font-size-xs: ($font-size-base * 0.714);

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-extra-bold: 700 !default;

$font-paragraph: 1rem !default;

$icon-font-size-sm: 0.6875rem !default;
$icon-size-sm: 1.875rem !default;

$btn-active-box-shadow: none !default;
$btn-round-radius: 30px !default;

$white: var(--text-color) !default;
$navbar-color: #1a1e34 !default;
$navbar-dark-bg: transparent !default;
$navbar-dark-hover-bg: rgba(#fff, 0.1);
$navbar-dark-active-bg: rgba(#fff, 0.1);
$navbar-dark-color: rgba(#fff, 0.95);
$navbar-dark-hover-color: rgba(#fff, 0.65);
$navbar-dark-active-color: rgba(#fff, 0.65);
$navbar-dark-disabled-color: rgba(#fff, 0.25);
$navbar-dark-toggler-border-color: transparent !default;
$card-spacer-y: 1.25rem !default;
$card-spacer-x: 1.5rem !default;
$card-border-width: $border-width !default;
$card-border-radius: $border-radius-sm !default;
$card-border-color: rgba($black, 0.05);
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg: $gray-100 !default;
$card-bg: $white !default;
$card-black-background: #27293d !default;
$card-img-overlay-padding: 1.25rem !default;

$full-width: 100% !default;
//$zindex-modal: 90000 !default;
//$zindex-modal-backdrop: 89999 !default;
