@import '~@/themes/scss/mixin.scss';

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  &.toggle-setting {
    flex-direction: row;
    height: 27px;
    align-items: center;
  }

  &.dropdown-setting {
    height: unset;
    .selection {
      margin-top: 0;

      &.small {
        width: 64px;
      }

      &.full {
        width: 100%;
      }

      > .relative > span > button > div {
        height: 31px;
      }
    }
    .form-input {
      &.small {
        width: 64px;
      }

      &.full {
        width: 100%;
      }
    }
  }

  .label {
    @include regular-text12-unselect();
    //cursor: pointer !important;
    padding: 0;
    margin: 0;
    color: var(--secondary-text-color);

    &.small {
    }
  }

  .color-component {
    &.half {
      width: 145px;
    }
    &.small {
      width: 115px;
    }

    &.full {
      width: 100%;
    }
  }
  &.input-setting {
    .form-control {
      height: 33px;
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }

  .form-control {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
//
.dark .setting-container .label {
  opacity: 0.6;
}

.revert-button {
  @include regular-text-14();
  color: var(--accent);
  margin-left: auto;
  padding: 0;
  opacity: 1;
  width: fit-content;
  cursor: pointer;
}

div.disabled-setting {
  pointer-events: none;
  cursor: not-allowed;
  opacity: var(--disable-opacity);
}
