/*!
 * @author: tvc12 - Thien Vi
 * @created: 9/3/21, 6:44 PM
 */

.kpi-number-widget {
  height: 100%;
  display: flex;
  flex-direction: column;
  &--header {
    flex: 2;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .kpi--header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &-info {
        flex: 2;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > .table-chart-header-content {
          width: 100%;
          overflow: hidden;
          margin: 0 0 4px;
          min-height: unset;

          .title-chart {
            text-align: left !important;
          }

          > .description-chart {
            display: none;
          }
        }
      }

      &-comparison {
        .percentage-bar {
          margin-bottom: 8px;
          span {
            justify-items: flex-end;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  &--body {
    flex: 1;
  }
}
