/*!
 * @author: tvc12 - Thien Vi
 * @created: 7/2/21, 4:41 PM
 */

.root-dashboard-theme {
  $min-background-color: var(--min-background-color);
  $max-background-color: var(--max-background-color);
  $base-background-color: var(--menu-background-color);
  $background-gradient: linear-gradient(131deg, $min-background-color 2%, $max-background-color 90%);

  .dashboard-theme:before {
    content: '';
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .dashboard-theme:before,
  .dashboard-theme .header-sticky {
    background-size: 100vw 100vh;

    background-image: $background-gradient;
  }

  .dashboard-theme {
    .dashboard-area {
      z-index: 1;
      position: relative;
    }

    .control-bar {
      .di-button img {
        opacity: var(--normal-opacity);
      }

      .di-button:hover,
      .di-button:active {
        background-color: unset !important;

        img {
          opacity: var(--active-opacity);
        }
      }
    }

    //.widget-action,
    //.empty-dashboard {
    //  --accent: #fff;
    //}

    .header-bar-container {
      background: var(--header-bar-background-color);
      z-index: 1;
    }

    .dynamic-filter-panel {
      .view-panel {
        --accent: var(--filter-accent-bg);

        svg,
        .chip-title {
          color: var(--filter-accent-color);
        }
      }
    }
  }

  .db-listing-searchable {
    --primary: var(--menu-background-color, rgba(#212638, 0.95));
    //--accent: #fff;

    input {
      background-color: transparent;

      &::placeholder {
        color: var(--text-color);
        opacity: var(--normal-opacity);
      }
    }

    .footer-filter-menu {
      > .filter-control {
        justify-content: space-between;
        padding: 0;

        p.label {
          opacity: initial;
        }

        [class*='col-'] {
          flex: unset;
          max-width: unset;
          width: unset;
          padding-right: 0;
        }
      }
    }
  }

  .none-action-container,
  .drilldown-popover,
  .zoom-popover,
  div.v-context .context-drilldown {
    input {
      background-color: transparent;

      &::placeholder {
        color: var(--text-color);
        opacity: var(--normal-opacity);
      }
    }

    .popover-body .regular-icon-16 {
      padding: 0;
    }
  }
}
