/*!
 * @author: tvc12 - Thien Vi
 * @created: 6/16/21, 3:07 PM
 */

// Common
$default-text-color: #fff;
$default-background-color: #333645;

// Header

$default-header-color: #ffffff;
$default-header-background-color: #f5f5f5;
$default-header-font-family: 'Roboto';
$default-header-font-size: 12px;
$default-header-white-space: nowrap;
$default-header-text-align: left;
// Row
$default-row-even-color: rgba(255, 255, 255, 0.8);
$default-row-even-background-color: #0000001a;

$default-row-odd-color: rgba(255, 255, 255, 0.8);
$default-row-odd-background-color: #00000033;

$default-row-font-size: 14px;
$default-row-font-family: 'Roboto';
$default-row-white-space: nowrap;
$default-row-text-align: left;

// footer
$default-footer-background-color: #2f3240;
$default-footer-text-color: rgba(255, 255, 255, 0.8);
$default-footer-text-align: left;
$default-footer-font-size: 14px;
$default-footer-white-space: nowrap;
$default-footer-font-family: 'Roboto';

// tooltip
$default-tooltip-background-color: #2f3240;
$default-tooltip-color: #fff;
$default-tooltip-font-size: 14px;
$default-tooltip-font-family: 'Roboto';
