root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = single
line_width = 160

[*.scss]
charset = utf-8
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
quote_type = single
trim_trailing_whitespace = true
