always-auth=true
@datainsider:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=NR6HoC1t9bQu6AiSUs9x
//gitlab.com/api/v4/projects/21342430/packages/npm/:_authToken=NR6HoC1t9bQu6AiSUs9x
